/* Platform-independent structural styling for
 * <strike>Tab Candy</strike> Panorama
----------------------------------*/

html {
  overflow: hidden;
/*   image-rendering: -moz-crisp-edges; */
}

body {
  padding: 0px;
  margin: 0 auto;
}

#content {
  overflow: -moz-hidden-unscrollable;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}

/* Tabs
----------------------------------*/

.tab {
  position: absolute;
  overflow: visible !important;
}

.tab canvas,
.cached-thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.tabHidden {
  display: none;
}

.thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.favicon {
  position: absolute;
}

.close {
  position: absolute;
  cursor: pointer;
}

.expander {
  position: absolute;
}

.tab-title {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stacked .tab-title {
  display: none;
}

.stack-trayed .tab-title {
  display: block !important;
}

/* Tab: Zooming
----------------------------------*/

.front {
  z-index: 999999 !important;
  image-rendering: -moz-crisp-edges;
}

.front canvas {
  border: none !important;
  padding: 1px !important;
}

/* Groups
----------------------------------*/

.groupItem {
  position: absolute;
}

.appTabTrayContainer {
  position: absolute;
}

/* Other Items
----------------------------------*/

.undo {
  position: absolute;
}

.info-item {
  position: absolute;
}

/* Trenches
----------------------------------*/

.guideTrench, 
.visibleTrench, 
.activeVisibleTrench {
  position: absolute;
}

.guideTrench {
  z-index: -101;
}

.visibleTrench {
  z-index: -103;
}

.activeVisibleTrench {
  z-index: -102;
}

/* Other
----------------------------------*/

.newTabButton {
  position: absolute !important;
  z-index: 99999;
}

.titlebar {
  position: absolute;
}

.title-shield {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.transparentBorder {
  border: 1px solid transparent !important;
}

.stackExpander {
  position: absolute;
}

.shield {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Resizable
----------------------------------*/
.resizer {
  position: absolute;
}

.iq-resizable-handle {
  position: absolute;
  z-index: 99999;
  display: block;
}

.iq-resizable-disabled .iq-resizable-handle, 
.iq-resizable-autohide .iq-resizable-handle {
  display: none;
}

/* Search
----------------------------------*/
#searchshade{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000001;
}

#search{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  z-index: 1000050;
}

html[dir=rtl] #search {
  left: auto;
  right: 0;
}

#searchbox{
  position: absolute;
  right: 20px;
  top: 20px;
  pointer-events: auto;
}

html[dir=rtl] #searchbox {
  right: auto;
  left: 20px;
}

#actions{
  position: absolute;
  top: 0px;
  right: -3px;
  z-index: 1000000;
}

html[dir=rtl] #actions {
  right: auto;
  left: -3px;
}

#otherresults{
  position: absolute;
  opacity: 0;
  overflow: hidden;
}

.onTop{
  z-index: 1000010 !important;
}

.inlineMatch{
  display: inline-block;
  pointer-events: auto;
}

.inlineMatch>span{
  display: inline-block;
  overflow: hidden;
}
